Power_Automate_Cloud/Flow/Microsoft.Flow/flows/82b165db-7491-4858-b61b-8ea8f752e6d4/definition.json
{"name":"5fdbf574-1971-4194-96ff-88fb5ce9d9d3","id":"/providers/Microsoft.Flow/flows/5fdbf574-1971-4194-96ff-88fb5ce9d9d3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fetch Table and Info","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a5dfe85b-32c3-43f0-bc70-453e7fe78baf","type":"User","tenantId":"db76fb59-a377-4120-bc54-59dead7d39c9"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-02-08T00:25:52.2648448Z","connectionKeySavedTimeKey":"2024-02-08T00:25:52.2648448Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"7af16d63-fec8-4aa9-ba28-342ed4a32132"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Sharepoint Site ","type":"string","x-ms-dynamically-added":true,"description":"Please select the site","x-ms-content-hint":"TEXT","enum":["Enter Site Address"]},"text_1":{"title":"Sharepoint Library","type":"string","x-ms-dynamically-added":true,"description":"Please select the library","x-ms-content-hint":"TEXT","enum":["Enter Library name"]},"text_2":{"title":"Sharepoint Folder for PDF (Input)","type":"string","x-ms-dynamically-added":true,"description":"Please select the relevant Folder","x-ms-content-hint":"TEXT","enum":["Enter Path to the PDF folder"]},"text_3":{"title":"Sharepoint Folder for CSV (Output)","type":"string","x-ms-dynamically-added":true,"description":"Please select the relevant Folder","x-ms-content-hint":"TEXT","enum":["Enter Path to the CSV folder"]}},"required":["text","text_1","text_2","text_3"]},"headersSchema":{"x-ms-user-name-encoded":{"title":"User name","type":"string","format":"byte","x-ms-dynamically-added":false},"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Get_PDF_files_(properties_only)":{"runAfter":{},"metadata":{"operationMetadataId":"9db9ba8f-87a1-45cb-90b8-19941e8ab30c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"@triggerBody()['text']","table":"@triggerBody()['text_1']","folderPath":"@triggerBody()['text_2']","$top":6},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":50}}},"Apply_to_each_PDF_File":{"foreach":"@outputs('Get_PDF_files_(properties_only)')?['body/value']","actions":{"Get_PDF_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"13b2000e-9a73-41ad-80bb-d63fd8762571"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"@triggerBody()['text']","path":"@items('Apply_to_each_PDF_File')?['{FullPath}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Extract_Table_from_PDF":{"runAfter":{"Get_PDF_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"3e84b0e2-fc30-4df9-a0e8-c39f8c4479e0","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_formsprocessing","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_formsprocessing"},"parameters":{"recordId":"a5906245-75a6-4ecf-a1b0-223c7bf4b54d","item/requestv2/mimeType":"application/pdf","item/requestv2/base64Encoded":"@body('Get_PDF_file_content_using_path')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Table_Entry":{"foreach":"@outputs('Extract_Table_from_PDF')?['body/responsev2/predictionOutput/tables/Profit_0668b9d3ccd1d573ef947c3432c074abf/entries']","actions":{"Translate_Column_into_German":{"runAfter":{},"metadata":{"operationMetadataId":"3cf7bb1a-21c6-4b85-9694-6ed7d3259753","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@items('Apply_to_each_Table_Entry')?['KPI/text']","item/requestv2/targetLanguage":"de","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_Column_into_Ukranian":{"runAfter":{"Translate_Column_into_German":["Succeeded"]},"metadata":{"operationMetadataId":"bcd9ed00-24a4-429d-bf57-ed0bbc2f89b4","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@items('Apply_to_each_Table_Entry')?['KPI/text']","item/requestv2/targetLanguage":"uk","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_Column_into_Romanian":{"runAfter":{"Translate_Column_into_German":["Succeeded"]},"metadata":{"operationMetadataId":"c002e939-fc75-4855-9aef-c0acfd6a01e3","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@items('Apply_to_each_Table_Entry')?['KPI/text']","item/requestv2/targetLanguage":"ro","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_Column_into_Bosnian":{"runAfter":{"Translate_Column_into_German":["Succeeded"]},"metadata":{"operationMetadataId":"51dbe06f-4667-4221-9e26-14929b11a5ec","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@items('Apply_to_each_Table_Entry')?['KPI/text']","item/requestv2/targetLanguage":"bs","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_Column_into_Bulgarian":{"runAfter":{"Translate_Column_into_German":["Succeeded"]},"metadata":{"operationMetadataId":"2a74d053-4046-4557-9738-7686d3b2712b","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@items('Apply_to_each_Table_Entry')?['KPI/text']","item/requestv2/targetLanguage":"bg","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Append_to_Finance_Table_Array_":{"runAfter":{"Translate_Column_into_Ukranian":["Succeeded"],"Translate_Column_into_Romanian":["Succeeded"],"Translate_Column_into_Bosnian":["Succeeded"],"Translate_Column_into_Bulgarian":["Succeeded"]},"metadata":{"operationMetadataId":"8ce3067a-aee0-45e9-bb0d-9dcfba719bbf"},"type":"AppendToArrayVariable","inputs":{"name":"finance_table","value":{"KPI (english)":"@items('Apply_to_each_Table_Entry')?['KPI/text']","KPI (german)":"@outputs('Translate_Column_into_German')?['body/responsev2/predictionOutput/text']","KPI (ukranian)":"@outputs('Translate_Column_into_Ukranian')?['body/responsev2/predictionOutput/text']","KPI (romanian)":"@outputs('Translate_Column_into_Romanian')?['body/responsev2/predictionOutput/text']","KPI (bosnian)":"@outputs('Translate_Column_into_Bosnian')?['body/responsev2/predictionOutput/text']","KPI (bulgarian)":"@outputs('Translate_Column_into_Bulgarian')?['body/responsev2/predictionOutput/text']","Amount":"@items('Apply_to_each_Table_Entry')?['Amount/text']"}}}},"runAfter":{"Extract_Table_from_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"a3e0dcdc-1b12-4436-866e-dcb20950fc97"},"type":"Foreach"},"Set_Finance_Table_Array":{"runAfter":{"Create_Finance_Table_file":["Succeeded"]},"metadata":{"operationMetadataId":"b3192b05-18db-400a-998f-38430783a227"},"type":"SetVariable","inputs":{"name":"finance_table","value":[]}},"Create_Finance_Table_CSV":{"runAfter":{"Apply_to_each_Table_Entry":["Succeeded"]},"metadata":{"operationMetadataId":"68044666-5695-4e2d-8ec0-79fafa22900f"},"type":"Table","inputs":{"from":"@variables('finance_table')","format":"CSV"}},"Create_Finance_Table_file":{"runAfter":{"Create_Finance_Table_CSV":["Succeeded"]},"metadata":{"operationMetadataId":"16cf911d-e3b4-446c-87f7-4a97a0d4333e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['text']","folderPath":"@triggerBody()['text_3']","name":"@{concat(items('Apply_to_each_PDF_File')?['{Name}'],'_',formatDateTime(convertTimeZone(utcNow(),'UTC','Romance Standard Time'),'dd-MM-yyyy_hh-mm-ss_tt'))}.csv","body":"@concat(uriComponentToString('%EF%BB%Bf'),body('Create_Finance_Table_CSV'))"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Extract_Text_from_PDF":{"runAfter":{"Get_PDF_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"2cf5fdcb-73a7-44bf-a9e9-a42cc68c9784","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_formsprocessing","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_formsprocessing"},"parameters":{"recordId":"6312a887-c224-49a0-9eda-68a80dab9dbc","item/requestv2/mimeType":"application/pdf","item/requestv2/base64Encoded":"@body('Get_PDF_file_content_using_path')"},"authentication":"@parameters('$authentication')"}},"Translate_text_into_German":{"runAfter":{"Extract_Text_from_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"c678c60d-b7fd-4ed4-a56e-1113d85b1294","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']","item/requestv2/targetLanguage":"de","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_text_into_Ukranian":{"runAfter":{"Extract_Text_from_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"3d7a1ca5-b6f1-41fc-a3b3-319339954b96","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']","item/requestv2/targetLanguage":"uk","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_text_into_Romanian":{"runAfter":{"Extract_Text_from_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"4a900dd3-0fc2-4f51-8060-1cc838e2ebc9","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']","item/requestv2/targetLanguage":"ro","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_text_into_Bosnian":{"runAfter":{"Extract_Text_from_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"3caa681f-ad71-4f83-ae9b-a22a7d98c3c9","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']","item/requestv2/targetLanguage":"bs","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Translate_text_into_Bulgarian":{"runAfter":{"Extract_Text_from_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"d873850b-c341-42f3-b398-06990718ea5b","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_texttranslationpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_texttranslationpretrained"},"parameters":{"item/requestv2/text":"@outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']","item/requestv2/targetLanguage":"bg","item/requestv2/sourceLanguage":"auto","recordId":"6225038a-8b5a-4913-bfd2-d8236f4102ba"},"authentication":"@parameters('$authentication')"}},"Create_Languages_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"3e8a4b70-6dfb-4a6f-bef7-5ac92cf7d69e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['text']","folderPath":"@triggerBody()['text_3']","name":"@{concat(items('Apply_to_each_PDF_File')?['{Name}'],'_languages_',formatDateTime(convertTimeZone(utcNow(),'UTC','Romance Standard Time'),'dd-MM-yyyy_hh-mm-ss_tt'))}.csv","body":"@concat(uriComponentToString('%EF%BB%Bf'),body('Create_CSV_table'))"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_CSV_table":{"runAfter":{"Append_to_languages_array_":["Succeeded"]},"metadata":{"operationMetadataId":"2ba9ec76-ab56-4283-abca-91836df2828b"},"type":"Table","inputs":{"from":"@variables('languages')","format":"CSV","columns":[{"header":"English","value":"@outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']"},{"header":"German","value":"@outputs('Translate_text_into_German')?['body/responsev2/predictionOutput/text']"},{"header":"Ukranian","value":"@outputs('Translate_text_into_Ukranian')?['body/responsev2/predictionOutput/text']"},{"header":"Romanian","value":"@outputs('Translate_text_into_Romanian')?['body/responsev2/predictionOutput/text']"},{"header":"Bosnian","value":"@outputs('Translate_text_into_Bosnian')?['body/responsev2/predictionOutput/text']"},{"header":"Bulgarian","value":"@outputs('Translate_text_into_Bulgarian')?['body/responsev2/predictionOutput/text']"}]}},"Set_Languages_Array":{"runAfter":{"Append_to_File_Name_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d1c6977e-11a4-4d30-bfa9-6ec1c3e1de99"},"type":"SetVariable","inputs":{"name":"languages","value":[]}},"Append_to_languages_array_":{"runAfter":{"Set_Finance_Table_Array":["Succeeded"],"Translate_text_into_Bosnian":["Succeeded"],"Translate_text_into_Bulgarian":["Succeeded"],"Translate_text_into_German":["Succeeded"],"Translate_text_into_Romanian":["Succeeded"],"Translate_text_into_Ukranian":["Succeeded"]},"metadata":{"operationMetadataId":"3058a46c-0548-4d36-9689-a9c28752a47f"},"type":"AppendToArrayVariable","inputs":{"name":"languages","value":"[\n'English': @{outputs('Extract_Text_from_PDF')?['body/responsev2/predictionOutput/labels/Businessbb1297be479d1c182503e9b5b9e6b2cb/text']},\n'German': @{outputs('Translate_text_into_German')?['body/responsev2/predictionOutput/text']},\n'Ukranian': @{outputs('Translate_text_into_Ukranian')?['body/responsev2/predictionOutput/text']},\n'Romanian': @{outputs('Translate_text_into_Romanian')?['body/responsev2/predictionOutput/text']},\n'Bosnian': @{outputs('Translate_text_into_Bosnian')?['body/responsev2/predictionOutput/text']},\n'Bulgarian': @{outputs('Translate_text_into_Bulgarian')?['body/responsev2/predictionOutput/text']}\n]"}},"Increment_File_Quantity_variable":{"runAfter":{"Create_Languages_file":["Succeeded"]},"metadata":{"operationMetadataId":"72e2e6cb-3a1b-4f21-9ded-496592b6b7ef"},"type":"IncrementVariable","inputs":{"name":"file_quantity","value":1}},"Append_to_File_Name_variable":{"runAfter":{"Increment_File_Quantity_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0bc46711-d410-44d2-9851-91b751bae738"},"type":"AppendToStringVariable","inputs":{"name":"file_name","value":"@{concat('  ',items('Apply_to_each_PDF_File')?['{Name}'])};"}}},"runAfter":{"Initialize_File_Name_variable_":["Succeeded"]},"metadata":{"operationMetadataId":"f4731233-bc8a-46ae-956b-d8dabd20f961"},"type":"Foreach"},"Initialize_Finance_Table_array":{"runAfter":{"Get_PDF_files_(properties_only)":["Succeeded"]},"metadata":{"operationMetadataId":"d08deccc-43dd-4254-aff4-1bed0612d402"},"type":"InitializeVariable","inputs":{"variables":[{"name":"finance_table","type":"array"}]}},"Initialize_Languages_array_":{"runAfter":{"Initialize_Finance_Table_array":["Succeeded"]},"metadata":{"operationMetadataId":"d08deccc-43dd-4254-aff4-1bed0612d402"},"type":"InitializeVariable","inputs":{"variables":[{"name":"languages","type":"array"}]}},"Create_a_work_item":{"runAfter":{"Apply_to_each_PDF_File":["Succeeded"]},"metadata":{"operationMetadataId":"44ef0032-0d22-4dca-8444-39c2b32ea793"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","connectionName":"shared_visualstudioteamservices","operationId":"CreateWorkItem"},"parameters":{"account":"mohammadusmani","project":"Power Automate Tasks","type":"Task","workItem/title":"Fetch Table and Info (flow) - Ran for @{variables('file_quantity')} Pdf files","workItem/description":"<p>The Power Automate flow 'Fetch Table and Info' details:<br>\n<br>\nExecuted by: @{triggerOutputs()['headers']['x-ms-user-name-encoded']}<br>\nTimestamp: @{triggerOutputs()['headers']['x-ms-user-timestamp']}<br>\nFiles: @{variables('file_name')}</p>","workItem/dynamicFields/System.AssignedTo":"mohammad.usmani@stud.fra-uas.de","workItem/dynamicFields/System.State":"Done"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_File_Quantity_variable":{"runAfter":{"Initialize_Languages_array_":["Succeeded"]},"metadata":{"operationMetadataId":"871cc568-f9ce-4959-a93f-5a7770e2d958"},"type":"InitializeVariable","inputs":{"variables":[{"name":"file_quantity","type":"integer","value":0}]}},"Initialize_File_Name_variable_":{"runAfter":{"Initialize_File_Quantity_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7b377d57-6593-439d-84ac-aa9f716d04c0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"file_name","type":"string"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"aca4704f6f7748e4a794338e864ceaa9","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-206b5199-c671-44c1-bdf6-0f8556251005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_visualstudioteamservices":{"connectionName":"shared-visualstudiot-1d6fef20-b6c2-4fcd-bbad-522b039a43d1","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}